<% content_for(:title, "Food-Index") %>
<h1>Foods</h1>

<div class="card">s
<h1>Here are the Featured Foods</h1>
    <% @foods.featured_foods.each do |food| %>
    <h3 class="btn-info"><%= link_to food.name, food_path(food) %></h3>
    <p><strong>From: <%= food.location %></strong></p>
    <p><strong>Price $<%= food.price %></strong></p>
    <% end %>

 <h1>Here are the Foods with the Most Reviews</h1>
    <% @foods.most_reviews.each do |food| %>
    <h3 class="btn-info"><%= link_to food.name, food_path(food) %></h3>
    <% if food.image.attached? %>
        <p>
            <strong>Image:</strong>
            <br>
            <%= image_tag food.image, class: "picture"  %>
        </p>
    <%end%>
    <% end %>

    <h1><strong>Here all the are the Foods</strong></h1>
    <% @foods.each do |food| %>
    <h3 class="btn-info"><%= link_to food.name, food_path(food) %></h3>
    <% if food.image.attached? %>
        <p><strong>Image:</strong><br><%= image_tag food.image, class: "picture"  %></p>
    <%end%>
    <% if food.location %>
        <p><strong>From: <%= food.location %></strong></p>
    <%end%>
    <% if food.price %>
        <p><strong>Price $<%= food.price %></strong></p>
    <%end%>
  
    <% if food.user == current_user %>
        <h5><%= link_to 'Edit', edit_food_path(food) %></h5>
        <h5><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
        <% end %>
        <hr>
    <% end %>

</div>

<hr>
