<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
     <h3><%= link_to 'Add Food Item', new_food_path %></h3>
     <h3><%= link_to 'Account', edit_user_registration_path %></h3>
     <h3><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></h3>

   <% else %>
     <h3><%= link_to 'Sign up', new_user_registration_path%></h3>
     <h3><%= link_to 'Sign in', new_user_session_path %></h3>

   <% end %>

    <%= yield %>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
  </body>
</html>
